<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrupación de Estudiantes</title>
    <!-- Vincular el archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos_index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la aplicación de agrupación de estudiantes</h1>
        <p>Visita el <a href="/dash/">Gráfico Interactivo</a></p>
    </div>
</body>
</html>

